<% error = @player.errors.key?(:deleted) && @player.errors[:deleted].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :deleted, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :deleted, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:deleted) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:nickname) && @player.errors[:nickname].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :nickname, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :nickname, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:nickname) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:email) && @player.errors[:email].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :email, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :email, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:email) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:token) && @player.errors[:token].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :token, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :token, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:token) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:token_expiration) && @player.errors[:token_expiration].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :token_expiration, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :token_expiration, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:token_expiration) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:activation_code) && @player.errors[:activation_code].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :activation_code, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :activation_code, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:activation_code) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:password) && @player.errors[:password].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :password, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :password, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:password) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:salt) && @player.errors[:salt].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :salt, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :salt, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:salt) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @player.errors.key?(:movement_id) && @player.errors[:movement_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :movement_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :movement_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:movement_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:players, :index), :class => 'btn btn-default' %>
</div>